body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(223, 223, 223)
  }

  section{
    background-color: white;
    height: 600px;
    width: 600px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
  .inicio_titulo{
    margin: 20px 25px;
  }
  p{
    color: rgb(120, 14, 14);
    font-size: 18px;
    margin: 5px 0 3px;
  }

  form{
    margin: 5px 25px 0;
    display: flex;
    justify-content: space-around;

  }
  input{
    border-radius: 3px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
    border: 1px solid rgb(180, 180, 180);
    width: 99%;
    height: 17px;
    display: flex;
    color: black;
    transition-duration: 1.5s;
    transition-timing-function: ease;
  }

  input:hover{
    height: 17px;
    background-color: rgb(120, 14, 14);
    border: 1px solid rgb(120, 14, 14);
    color: white
  }

  input.checbox_terminos{
    width: 10px;
  }

  input:hover .terminos_condiciones{
    font-size: 12px;
    color: rgb(120, 14, 14);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  input.registrar-button{
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    height: 35px;
    width: 150px;
    color: white;
    background-color: rgb(120, 14, 14);
    text-align: center;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  .registrar-button:hover{
    /* height: 40px;
    width: 155px; */
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.80);
  }


  .part1{
    width: 260px;
  }
  .part2{
    width: 260px;
  }

  a{
    margin: 0 5px;
    color: black
  }
  a:hover{
    margin: 0 5px;
    text-decoration: none;
    color: rgb(120, 14, 14);
  }
  figure{
    width: 100%;
    height: 120px;
    margin: 0;
  }
  img{
    width: 100%;
    height:100%;
  }

  .terminos_condiciones{
    font-size: 12px;
    color: rgb(175, 175, 175);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .registrar_button_container{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  footer{
    position: absolute;
    display: flex;
    bottom: 0;
    height: 100px;
    width: 100%;
    flex-wrap: wrap;
    justify-content:   center;
    align-items: center;
  }

  footer ol{
    display: flex;
    text-decoration: none;
    margin: 0 5px;
  }

  footer li{
    margin: 0 30px;
    display:flex;
    font-weight: bold;
  }

  footer li:hover{
    font-size: 20px;
    color: red;
  }
